@font-face {
  font-family: "Seven Segment";
  src: url("7segment.ttf");
}

h1 {
  font-family: "Seven Segment";
  margin: 0px;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

body,
html {
  height: 100%;
  cursor: none;
  background-color: white;
}

body {
  overflow: hidden;
  margin: 0px;
}

.Speed {
  font-size: 200px;
  font-weight: normal;
  margin: auto;
  /*margin-right: 270px;*/
}

.pct {
  font-size: 45px;
  font-weight: lighter;
  margin: 0px;
  margin-top: 2px;
  color: white;
  position: relative;
  text-align: center;
  align-items: center;
}

/*      
html{
  pointer-events: none;
}
*/

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 480px;
  background-color: white;
  overflow: hidden;
}

.display {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 0px;

  background-color: aqua;
}

.speedometer {
  display: flex;
  align-items: flex-end;

  margin: auto;
}

.range-indicator {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}

.torque-indicator {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}

.top-bar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 10px;
}

.bottom-bar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 10px;
}

#left-arrow {
  transform: rotate(180deg);
}

.arrows {
  --color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  width: 75px;
  margin: 10px 10px 0px 0px;
}

.active {
  --color: green;
}

.line {
  margin-top: 15px;
  width: 40px;
  background: var(--color);
  height: 30px;
  float: left;
}

.point {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 35px solid var(--color);
  float: right;
}

.batteryOuter {
  height: 50px;
  width: 175px;
  background-color: rgb(150, 150, 150);
  border: solid 2px black;
  border-radius: 5px;
  display: block;
  float: left;
  position: relative;
}

.batteryInner {
  /*width: 50px;*/
  border-radius: 2px;
  height: 100%;
  background: green;
  transition: height 0.2s ease;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}
