@font-face {
  font-family: "Seven Segment";
  src: url("7segment.ttf");
}

h1 {
  font-family: "Seven Segment";
  font-size: 45px;
  margin: 0px;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}
h4 {
  margin: 5px;
}
p {
  margin: 1px;
}

body,
html {
  height: 100%;
  cursor: none;
  background-color: white;
  user-select: none;
  -webkit-user-select: none;
  touch-action: pan-x pan-y;
}

body {
  overflow: hidden;
  margin: 0px;
}

.Speed {
  font-size: 200px;
  font-weight: normal;
  margin: auto;
  /*margin-right: 270px;*/
}

.pct {
  font-size: 45px;
  font-weight: lighter;
  margin: 0px;
  margin-top: 2px;
  color: white;
  position: relative;
  text-align: center;
  align-items: center;
}

/*      
html{
  pointer-events: none;
}
*/

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 480px;
  background-color: white;
  overflow: hidden;
}

.display {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 0px;

  background-color: aqua;
}

.speedometer {
  display: flex;
  align-items: flex-end;

  margin: auto;
}

.range-indicator {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}

.torque-indicator {
  width: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.clock-indicator {
  display: flex;
  align-items: center;
}

.top-bar {
  display: flex;
  justify-content: space-around;
  gap: 400px;
  width: 100%;
  margin-top: 15px;
}

.bottom-bar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 15px;
}

.line {
  margin-top: 15px;
  width: 40px;
  background: var(--color);
  height: 30px;
  float: left;
}

.point {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 35px solid var(--color);
  float: right;
}

.batteryOuter {
  height: 50px;
  width: 175px;
  background-color: rgb(150, 150, 150);
  border: solid 2px black;
  border-radius: 5px;
  display: block;
  float: left;
  position: relative;
}

.batteryInner {
  /*width: 50px;*/
  border-radius: 2px;
  height: 100%;
  background: green;
  transition: height 0.2s ease;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 800px; /* Full width */
  height: 480px; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 0px 20px 10px 20px;
  border: 1px solid #888;
  border-radius: 10px;
  box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.4);
  width: 60%; /* Could be more or less, depending on screen size */
}

.close {
  width: auto;
  position: absolute;
  right: 10px;
  top: -5px;
  font-size: 40px;
  font-weight: bolder;
  color: #aaa;
}

.info-text {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/*
.close {
  color: #aaa;
  float: right;
  font-size: 50px;
  font-weight: bold;
}
*/
